<div>
  <%= f.simple_fields_for :fotos_attributes, :index => nil do |formulario| %>
    <%= formulario.input :titulo, :autofocus => true, :required => false, :placeholder => "Título" %>
    <%= formulario.input :archivo, :as => :file, :label => false %>
  <%- end -%>
  <%= link_to_function "Quitar", "$(this).parent().remove();", :class => 'btn' %>
</div>
