<div class="foto">
  <%= foto foto, "400x300", "#c" %>
  <%= f.simple_fields_for :elementos, foto, :index => foto.id do |formulario| %>
    <%= formulario.input :titulo %>
    <%= formulario.input :remove_archivo, :label => "Eliminar", :as => :boolean if foto.archivo.present? %>
  <%- end -%>
</div>
