<div class="page-header">
  <h1>Bienvenidos</h1>
</div>

<div class="well">
  <p> Esta página fue pensada para ser temporal.</p>
  <p> Corresponde al root_path.</p>
  <p> Cuando no sea más necesaria, debería hacer lo siguiente:</p>
  <ol>
    <li>Cambiar el root_path en el archivo de rutas</li>
    <li>Borrar la vista 'portada' de la carpeta application</li>
  </ol>
</div>



