<div class='page-header'>
  <h1>Iniciar sesi칩n</h1>
</div>

<p>Por favor ingrese su usuario y contrase침a para iniciar sesi칩n.</p>

<%= simple_form_for @usuario, :url => sesiones_path do |f| %>
  <%= f.input :username, :autofocus => true %>
  <%= f.input :password %>

  <div class='form-actions'>
    <%= f.button :submit, "Iniciar sesi칩n", :disable_with => t("espere"), :class => 'btn btn-primary' %>
  </div>
<% end %>
