<%= content_tag :tr, :id => "elementos_#{usuario.id}" do %>
  <td><%= usuario.username %></td>
  <td><%= link_to 'Editar', edit_admin_usuario_path(usuario), :class => 'btn btn-mini' if can? :editar, usuario %></td>
  <td><%= link_to "Eliminar", admin_usuario_path(usuario), :method => :delete, :confirm => t("confirmacion"), :remote => true, :class => 'btn btn-mini btn-danger' if can? :destroy, usuario %></td>
<% end %>
