<div class="page-header">
  <div class="row">
    <div class="span6"><h1>Usuarios</h1></div>
    <div class="span3" style="text-align:right;"><%= link_to icono('plus', :blanco) + " Agregar usuario", new_admin_usuario_path, :class => 'btn btn-primary btn-large' %></div>
  </div>
</div>

<table id="listado" class="table table-striped">
  <%= thead :nombre %>
  <%= content_tag :tbody, render(@usuarios) %>
</table>