<div class="page-header">
  <h1>Usuarios</h1>
</div>

<nav class="well">
  <%= link_to icono('plus', :blanco) + " Agregar usuario", new_admin_usuario_path, :class => 'btn btn-primary' %>
</nav>

<table id="listado" class="table table-striped">
  <%= thead :nombre %>
  <%= content_tag :tbody, render(@usuarios) %>
</table>
