<%= content_tag :tr, :id => "elementos_#{consulta.id}" do %>
  <td><%= link_to "#{l consulta.created_at} | #{consulta.nombre_completo}", admin_consulta_path(consulta) %></td>
  <td style="text-align:right;"><%= link_to "Eliminar", admin_consulta_path(consulta), :method => :delete, :confirm => t("confirmacion"), :remote => true, :class => 'btn btn-mini btn-danger' %></td>
<% end %>
