<%- atributo = :imagen if atributo.nil? -%>
<%- if elemento.try(atributo).present? %>
  <span class="imagen">
    <%= imagen elemento.try(atributo), "50x35", "#c" %><br />
    <%= f.label "remove_#{atributo}" %>
    <%= f.check_box "remove_#{atributo}" %>
  </span>
<%- else -%>
  <%= f.input atributo, :as => :file %>
<%- end -%>