/*
* This is a manifest file that'll automatically include all the stylesheets available in this directory
* and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
* the top of the compiled file, but it's generally better to create a new file per style scope.
*/

$gris: #a9a9a9;
$naranja: #f5811e;

div.container {
  
  form {
    border: 1px solid #ccc;
    border-top: 1px solid #fff;
    background-color: #eee;
    input {
      font-size: 1.3em; display: inline-block; padding: 3px; border: 1px solid #ccc;
      &.numeric { width: 90px; }
      &.button { cursor: pointer; }
      &.file { border: none; }
      &.extenso { width: 380px !important; }
    }
    select { font-size: 1.3em; display: inline-block; padding: 2px; border: 1px solid #ccc; }
    input, select, textarea {
      &:focus, &:hover { border-color: #000; }
    }
    .field_with_errors {
      span { display: none; }
      input, select, textarea { border: 1px solid #912524; }
    }
    a.descargar { display: block; font-size: 1.2em; }
    
    // FORMULARIO MINI
    &.mini {
      display: none; padding: 0px 10px;
      
      div.input { display: inline-block; }
      input {
        width: 180px; margin-bottom: 10px;
        &.file { width: 360px; }
      }
      select { width: 172px; }
    }
    
    // FORMULARIO NORMAL
    &.normal {
      border-top: 1px solid #fff; padding: 10px; position: relative;
      
      label { color: #555; font-size: 1.3em; display: inline-block; width: 210px; float: left; line-height: 35px; padding: 3px; cursor: pointer; }
      input {
        width: 702px; margin: 10px 0px;
        &.button { width: 210px; margin: 20px 0px; }
        &.file { margin-bottom: 10px; }
      }
      select { width: 709px; }
      textarea { font-size: 1.4em; width: 702px; padding: 3px; border: 1px solid #ccc; }
      
      div.check_boxes {
        label.check_boxes { width: 100%; }
        span {
          width: 305px; height: 20px; float: left;
          label { font-size: 1em; line-height: 26px; float: left; }
          input { width: 18px; float: left; }
        }
      }
      div.boolean {
        overflow: hidden;
        label { width: auto; }
        input { width: 16px; height: 22px; float: left; }
      }
      
      span.imagen {
        position: relative; display: block; height: 35px; margin-bottom: 10px;
        img { position: absolute; top: 0px; left: 0px; border: 1px solid #ccc; padding: 1px; }
        label { position: absolute; top: 0px; left: 80px; width: auto; }
        input { position: absolute; top: 0px; left: 55px; width: 22px; height: 22px; display: inline-block; cursor: pointer; }
      }
      
      span.hint { font-size: 1.5em; display: block; padding: 5px 10px; margin-left: 180px; }
      
      span.documento {
        position: relative; display: block; height: 35px; margin-bottom: 10px;
        a { position: absolute; top: 0px; left: 0px; border: 1px solid #ccc; padding: 1px; }
        label { position: absolute; top: 0px; left: 80px; width: auto; }
        input { position: absolute; top: 0px; left: 55px; width: 22px; height: 22px; display: inline-block; cursor: pointer; }
      }
      
      .foto {
        position: relative; overflow: hidden;
        img { float: left; margin-right: 10px; }
        label.check input { width: 16px; margin-right: 5px; }
        input { width: 475px; }
      }
    }
    
  }
  
  form.multiple {
    article {
      border-bottom: 1px solid #ccc; border-top: 1px solid #fff; padding: 10px 0px;
      // No funcionan estas dos líneas. Averiguar por qué.
      &:first-child { border-top: none; }
      &:last-child { border-bottom: none; }
    }
  }
  
}