#footer {  padding: 10px 0px 0px 0px; height: 58px;}
#footer a.xaver { width: 100px; height: 25px; background-image:url('xaver.png') ; background-repeat: no-repeat; background-position: 0px -25px; margin: 0px auto 15px auto; display: block;
                 transition: all 0.2s; -moz-transition: all 0.2s; -webkit-transition: all 0.2s; -o-transition: all 0.2s;}
#footer a.xaver:hover { background-position: 0px -25px; }