#footer a.xaver { 
    width: 100px; 
    height: 50px; 
    background-image:url('xavercolor.png'); 
    background-repeat: no-repeat; 
    margin: 0px auto; 
    display: block;
}

.xaverblanco {
  padding-top:10px;
}