<div class="page-header">
  <nav class="pull-right">
    <%= link_to icono('plus', :blanco) + " Agregar usuario", new_admin_usuario_path, :class => 'btn btn-primary btn-large' %>
  </nav>
  <h1>Usuarios</h1>
</div>

<table id="listado" class="table table-striped">
  <%= thead :nombre %>
  <%= content_tag :tbody, render(@usuarios) %>
</table>
