<div class="page-header">
  <h1>Consultas</h1>
</div>
<p>Se listan a continuación las consultas recibidas en el sistema.</p>

<table id="ordenable" class="table table-striped ordenable">
  <%= thead(:nombre) %>
  <tbody>
    <%= render @consultas %>
  </tbody>
</table>